<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunsound - Solar Moment</title>
    <link rel="stylesheet" href="/css/aboutUs.css" />
   
    <script
      src="https://kit.fontawesome.com/ebbc506540.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="I:/fontawesome/css/fontawesome.css"
    />
    <link rel="shortcut icon" type="image/png" href="/image/favicon.png" />
  </head>
  <body style="background-color: blanchedalmond">
    <header id="home" style="position: static; background: ivory">
      <img
        class="logo"
        src="/image/logo.png"
        alt="Not found"
        onclick="dieuhuonglogo();"
      />
      <nav>
        <ul class="nav_links">
          <li><a href="#" onclick="dieuhuonglogo();">Trang chủ</a></li>
          <li>
            <a href="#" onclick="dieu_huongvechungtoi();">Về chúng tôi</a>
          </li>
          <li><a href="#" onclick="dieu_huongsanpham();">Sản phẩm</a></li>
          <li><a href="#" onclick="dieu_huongdonhang();">Đơn hàng</a></li>
          <li><a href="#" onclick="dieu_huongtintuc();">Tin tức</a></li>
          <li>
            <a href="#" onclick="dieu_huongquanhedt();">Quan hệ đối tác</a>
          </li>
          <li><a href="#" onclick="dieu_huongphanhoi();">Phản hồi</a></li>
          <li><a href="#" onclick="dieu_huonglienhe();">Giỏ hàng</a></li>
        </ul>
      </nav>
    </header>

    <main class="mainor">
      <ul id="cards">
        <li class="card" id="card_1">
          <div class="card__content">
            <div>
              <h2>• VỀ CÔNG TY</h2>
              <p>
                Tháng 8/2022, Công ty SOLAR MOMENT được thành lập với trụ sở tại
                Hà Nội. Công ty luôn phát triển đồng hành cùng chất lượng cuộc
                sống của người tiêu dùng. SOLAR MOMENT không ngừng sáng tạo để
                tạo ra các sản phẩm chất lượng và trải nghiệm xuất sắc cho mọi
                người. Slogan : “Năng lượng xanh – Trái đất sạch” Hãy đồng hành
                cùng SOLAR MOMENT với các sản phẩm sử dụng năng lượng xanh mang
                đến một trái đất sạch.
              </p>
              <p><a href="tintuc.html" class="btn btn--accent">Read more</a></p>
            </div>
            <figure>
              <img
                src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-2.jpg"
                alt="Image description"
              />
            </figure>
          </div>
        </li>
        <li class="card" id="card_2">
          <div class="card__content">
            <div>
              <h2>• TẦM NHÌN</h2>
              <p>
                Solar moment định hướng phát triển thành công ty hàng đầu về
                ngành năng lượng sạch, không ngừng đổi mới, sáng tạo để kiến tạo
                hệ sinh thái các sản phẩm dịch vụ chất lượng, góp phần nâng cao
                chất lượng cuộc sống của người Việt và tạo thói quen sử dụng
                năng lượng sạch của người tiêu dùng – góp phần tạo nên một Việt
                Nam xanh. Chúng tôi cam kết sẽ là địa chỉ tin cậy tuyệt đối cho
                khách hàng muốn tìm kiếm những sản phẩm uy tín, chất lượng được
                đảm bảo dựa trên cam kết chính sách đổi, trả và dịch vụ bảo hành
                sản phẩm của chúng tôi.
              </p>
              <p><a href="tintuc.html" class="btn btn--accent">Read more</a></p>
            </div>
            <figure>
              <img
                src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-2.jpg"
                alt="Image description"
              />
            </figure>
          </div>
        </li>
        <li class="card" id="card_3">
          <div class="card__content">
            <div>
              <h2>• SỨ MỆNH</h2>
              <p>
                “SUN SOUND” ra đời với sứ mệnh tạo nên một sản phẩm công nghệ
                “năng lượng xanh – trái đất sạch” đem lại những tiện ích với xu
                thế phát triển của thời đại . Từ đó góp phần chung tay phát
                triển và phổ biến ngành năng lượng tái tạo tại Việt Nam và hướng
                tới xây dựng một hệ sinh thái hiện đại, thông minh, thân thiện
                với môi trường. Không ngừng đổi mới, sáng tạo, tiên phong sản
                xuất, cung cấp các sản phẩm và dịch vụ chất lượng, thân thiện
                với môi trường vì cuộc sống tốt đẹp hơn cho cộng đồng và sự phát
                triển bền vững của xã hội.
              </p>
              <p><a href="tintuc.html" class="btn btn--accent">Read more</a></p>
            </div>
            <figure>
              <img
                src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-3.jpg"
                alt="Image description"
              />
            </figure>
          </div>
        </li>
        <li class="card" id="card_4">
          <div class="card__content">
            <div>
              <h2>• GIÁ TRỊ CỐT LÕI</h2>
              <p>
                TIÊN PHONG: Tiên phong tạo ra sản phẩm mới, chất lượng và tính
                thẩm mỹ cao, thân thiện với môi trường. SÁNG TẠO: đổi mới, sáng
                tạo và khát khao chinh phục những tầm cao mới, tăng trưởng toàn
                diện. CHIA SẺ: Cộng hưởng và sẻ chia những giá trị và lợi ích
                chung lâu dài trên phương diện kinh tế lẫn chất lượng sống góp
                phần hình thành nên cộng đồng dân cư Xanh, văn minh, hiện đại và
                nghĩa tình. CHUYÊN NGHIỆP: Nâng cao nghiệp vụ chuyên môn, quy
                trình quản lý, phương thức kinh doanh hiện đại, giao tiếp với
                đối tác, nhà đầu tư. BỀN VỮNG: Phát triển bền vững trong mối
                tương quan mật thiết giữa môi trường, nền kinh tế và xã hội –
                thổi hồn văn hóa dân tộc và đem dấu ấn Xanh của một hệ sinh thái
                tự nhiên lành mạnh vào đời sống con người.
              </p>
              <p><a href="tintuc.html" class="btn btn--accent">Read more</a></p>
            </div>
            <figure>
              <img
                src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-2.jpg"
                alt="Image description"
              />
            </figure>
          </div>
        </li>
      </ul>
    </main>
    <aside></aside>

    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
