<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunsound - Solar Moment</title>
    <link rel="stylesheet" href="/css/doitac.css" />
   
    <script
      src="https://kit.fontawesome.com/ebbc506540.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="I:/fontawesome/css/fontawesome.css"
    />
    <link rel="shortcut icon" type="image/png" href="/image/favicon.png" />
  </head>
  <body style="background-color: blanchedalmond">
    <header id="home" style="position: static; background: ivory">
      <img
        class="logo"
        src="/image/logo.png"
        alt="Not found"
        onclick="dieuhuonglogo();"
      />
      <nav>
        <ul class="nav_links">
          <li><a href="#" onclick="dieuhuonglogo();">Trang chủ</a></li>
          <li>
            <a href="#" onclick="dieu_huongvechungtoi();">Về chúng tôi</a>
          </li>
          <li><a href="#" onclick="dieu_huongsanpham();">Sản phẩm</a></li>
          <li><a href="#" onclick="dieu_huongdonhang();">Đơn hàng</a></li>
          <li><a href="#" onclick="dieu_huongtintuc();">Tin tức</a></li>
          <li>
            <a href="#" onclick="dieu_huongquanhedt();">Quan hệ đối tác</a>
          </li>
          <li><a href="#" onclick="dieu_huongphanhoi();">Phản hồi</a></li>
          <li><a href="#" onclick="dieu_huonglienhe();">Giỏ hàng</a></li>
        </ul>
      </nav>
    </header>
    <div style="background-color: cadetblue; height: 100vh">
        <aside class="responsive-banner first">
          <div class="container-envelope">
            <svg class="cirle-a" height="160" width="160">
              <circle cx="80" cy="80" r="80" />
            </svg>
            <svg class="cirle-b" height="60" width="60">
              <circle cx="30" cy="30" r="30" />
            </svg>
            <svg class="cirle-c" height="600" width="600">
              <circle cx="300" cy="300" r="300" />
            </svg>
            <svg class="cirle-d" height="60" width="60">
              <circle cx="30" cy="30" r="30" />
            </svg>
            <img
              src="https://i.pinimg.com/originals/f2/d1/f9/f2d1f900f688ddca0765ec8e2d3900e1.png"
            />
            <div class="col-xs-12">
              <p style="text-align: center; left: 28px">Nhà cung cấp</p>
              <a
                target="_blank"
                href="https://www.silocreativo.com/en/showcase/"
                class="more-link"
                style="left: 30px"
                >Các thiết bị đầu vào Chúng tôi luôn kiểm soát chặt chẽ nguyễn
                liệu đầu vào từ các thiết bị, linh kiện, con chíp,… Đảm báo quá
                trình sản xuất, gia công để cho ra được sản phẩm tốt nhất đến tay
                người tiêu dùng.
              </a>
            </div>
          </div>
        </aside>
  
        <aside class="responsive-banner second">
          <div class="container-envelope">
            <svg class="cirle-a" height="160" width="160">
              <circle cx="80" cy="80" r="80" />
            </svg>
            <svg class="cirle-b" height="60" width="60">
              <circle cx="30" cy="30" r="30" />
            </svg>
            <svg class="cirle-c" height="600" width="600">
              <circle cx="300" cy="300" r="300" />
            </svg>
            <svg class="cirle-d" height="60" width="60">
              <circle cx="30" cy="30" r="30" />
            </svg>
            <img
              src="https://i.pinimg.com/originals/f2/d1/f9/f2d1f900f688ddca0765ec8e2d3900e1.png"
            />
            <div class="col-xs-12" style="text-align: center; left: 28px">
              <p>Nhà phân phối</p>
              <a target="_blank" href="" class="more-link" style="left: 30px"
                >Sản phẩm chúng tôi phù hợp với cả kênh bán hàng online và offline
                Kênh Online chúng tôi bán trên website, các sàn thương mại điện
                tử: Shopee, lazada,…
              </a>
            </div>
          </div>
        </aside>
  
        <div class="link-container">
          <a target="_blank" href="" class="more-link">Liên hệ các đối tác</a>
        </div>
      </div>
      <script type="text/javascript" src="./js/main.js"></script>
    </body>
  </html>
  
  