<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunsound - Solar Moment</title>
    <link rel="stylesheet" href="/css/feedback.css" />
   
    <script
      src="https://kit.fontawesome.com/ebbc506540.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="I:/fontawesome/css/fontawesome.css"
    />
    <link rel="shortcut icon" type="image/png" href="/image/favicon.png" />
  </head>
  <body style="background-color: cadetblue">
    <header id="home" style="position: static; background: ivory">
      <img
        class="logo"
        src="/image/logo.png"
        alt="Not found"
        onclick="dieuhuonglogo();"
      />
      <nav>
        <ul class="nav_links">
          <li><a href="#" onclick="dieuhuonglogo();">Trang chủ</a></li>
          <li>
            <a href="#" onclick="dieu_huongvechungtoi();">Về chúng tôi</a>
          </li>
          <li><a href="#" onclick="dieu_huongsanpham();">Sản phẩm</a></li>
          <li><a href="#" onclick="dieu_huongdonhang();">Đơn hàng</a></li>
          <li><a href="#" onclick="dieu_huongtintuc();">Tin tức</a></li>
          <li>
            <a href="#" onclick="dieu_huongquanhedt();">Quan hệ đối tác</a>
          </li>
          <li><a href="#" onclick="dieu_huongphanhoi();">Phản hồi</a></li>
          <li><a href="#" onclick="dieu_huonglienhe();">Giỏ hàng</a></li>
        </ul>
      </nav>
    </header>
<div class="container" style="background-color: cadetblue">
    <div class="card">
      <img src="./image/hang.jpg" alt="Person" class="card__image" />
      <p class="card__name">Nguyễn Thu Hằng</p>
      <div class="grid-container">
        <div class="grid-child-posts">156 Post</div>

        <div class="grid-child-followers">1012 Likes</div>
      </div>
      <ul class="social-icons">
        <li>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-codepen"></i></a>
        </li>
      </ul>
      <button class="btn draw-border">Follow</button>
      <button class="btn draw-border">Message</button>
    </div>
    <div class="card">
      <img src="./image/thuy.jpg" alt="Person" class="card__image" />
      <p class="card__name">Lê Thị Thủy</p>
      <div class="grid-container">
        <div class="grid-child-posts">305 Post</div>

        <div class="grid-child-followers">2643 Likes</div>
      </div>
      <ul class="social-icons">
        <li>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-codepen"></i></a>
        </li>
      </ul>
      <button class="btn draw-border">Follow</button>
      <button class="btn draw-border">Message</button>
    </div>
    <div class="card">
      <img src="./image/hang2.jpg" alt="Person" class="card__image" />
      <p class="card__name">Phạm Thanh Hằng</p>
      <div class="grid-container">
        <div class="grid-child-posts">902 Post</div>

        <div class="grid-child-followers">1300 Likes</div>
      </div>
      <ul class="social-icons">
        <li>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-codepen"></i></a>
        </li>
      </ul>
      <button class="btn draw-border">Follow</button>
      <button class="btn draw-border">Message</button>
    </div>
  </div>
  <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>
