<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunsound - Solar Moment</title>
    <link rel="stylesheet" href="/css/homepage.css" />
   
    <script
      src="https://kit.fontawesome.com/ebbc506540.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/png" href="/image/favicon.png" />
  </head>
  <body style="background-color: blanchedalmond">
    <header id="home" style="position: static; background: ivory">
      <img
        class="logo"
        src="/image/logo.png"
        alt="Not found"
        onclick="dieuhuonglogo();"
      />
      <nav>
        <ul class="nav_links">
          <li><a href="#" onclick="dieuhuonglogo();">Trang chủ</a></li>
          <li>
            <a href="#" onclick="dieu_huongvechungtoi();">Về chúng tôi</a>
          </li>
          <li><a href="#" onclick="dieu_huongsanpham();">Sản phẩm</a></li>
          <li><a href="#" onclick="dieu_huongdonhang();">Đơn hàng</a></li>
          <li><a href="#" onclick="dieu_huongtintuc();">Tin tức</a></li>
          <li>
            <a href="#" onclick="dieu_huongquanhedt();">Quan hệ đối tác</a>
          </li>
          <li><a href="#" onclick="dieu_huongphanhoi();">Phản hồi</a></li>
          <li><a href="#" onclick="dieu_huonglienhe();">Giỏ hàng</a></li>
        </ul>
      </nav>
    </header>
    <section
    class="vechungtoi_section"
    id="vechungtoi"
    style="background-color: blanchedalmond"
  >
    <div class="vect1">
      <img class="logo1" src="./image/logo.png" alt="Not found" />
      <p class="text1">
        SOLAR MOMENT ra đời với sứ mệnh tạo nên các sản phẩm khoa học - công
        nghệ. Cốt lõi ứng dụng năng lượng mặt trời. Phát triển ngành năng
        lượng tái tạo. Nâng cao chất lượng cuộc sống của con người. Hướng tới
        xây dựng một hệ sinh thái hiện đại, thông minh, thân thiện với môi
        trường. Không ngừng đổi mới, sáng tạo, tiên phong sản xuất, cung cấp
        các sản phẩm và dịch vụ chất lượng, thân thiện với môi trường vì cuộc
        sống tốt đẹp hơn cho cộng đồng và sự phát triển bền vững của xã hội.
      </p>
    </div>
  </section>
  
    <!-- <section class="sanpham_section" id="sanpham">
      <div class="slider">
        <div class="dieuhuongslide">
          <img class="dh1" src="./image/left-arrow (1).png" onclick="Back();" />
          <img class="dh2" src="./image/right-arrow.png" onclick="Next();" />
        </div>
        <div class="chuyen_slide" style="text-align: center">
          <img class="img1" src=".//image/img-share.jpg" />
          <img class="img2" src="./image/Nakroth.jpg" />
          <img
            class="img3"
            src="./image/4b3a1b156a571f4c9cf270dabeb637c25aa0b6e339303.jpg"
          />
          <img
            class="img4"
            src="./image/62cda115a78344fc4fa5154881c9da255c25f64ee32a7.jpg"
          />
          <img
            class="img5"
            src="./image/83d9de6ce9963f9ea406db2edd81707f5ee04e7551643.jpg"
          />
        </div>
      </div>
    </section> -->

    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
