<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunsound - Solar Moment</title>
    <link rel="stylesheet" href="/css/tintuc.css" />
   
    <script
      src="https://kit.fontawesome.com/ebbc506540.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="I:/fontawesome/css/fontawesome.css"
    />
    <link rel="shortcut icon" type="image/png" href="/image/favicon.png" />
  </head>
    <header id="home" style="position: static; background: ivory">
      <img
        class="logo"
        src="/image/logo.png"
        alt="Not found"
        onclick="dieuhuonglogo();"
      />
      <nav>
        <ul class="nav_links">
          <li><a href="#" onclick="dieuhuonglogo();">Trang chủ</a></li>
          <li>
            <a href="#" onclick="dieu_huongvechungtoi();">Về chúng tôi</a>
          </li>
          <li><a href="#" onclick="dieu_huongsanpham();">Sản phẩm</a></li>
          <li><a href="#" onclick="dieu_huongdonhang();">Đơn hàng</a></li>
          <li><a href="#" onclick="dieu_huongtintuc();">Tin tức</a></li>
          <li>
            <a href="#" onclick="dieu_huongquanhedt();">Quan hệ đối tác</a>
          </li>
          <li><a href="#" onclick="dieu_huongphanhoi();">Phản hồi</a></li>
          <li><a href="#" onclick="dieu_huonglienhe();">Giỏ hàng</a></li>
        </ul>
      </nav>
    </header>
<div>
    <h1 style="margin-top: 56px; text-align: center">Tin tức về chúng tôi</h1>
  </div>
  <div class="page">
    <div class="page__container" style="margin: 70px auto auto auto">
      <div style="height: 83px">
        <a href="#popup-article1" class="open-popup1">
          Sun sound – Sản phẩm đầu tiên tích hợp loa, sạc, màn hình led trong
          một sản phẩm công nghệ sử dụng năng lượng mặt trời.</a
        >
      </div>
      <div style="height: 83px">
        <a href="#popup-article2" class="open-popup1">
          Phát triển kinh tế tuần hoàn – Xu hướng tất yếu cho mục tiêu tăng
          trưởng xanh</a
        >
      </div>
      <div style="height: 83px">
        <a href="#popup-article3" class="open-popup1">
          Xây dựng nhà máy tái chế tấm pin mặt trời tại Việt Nam - thời cơ
          phát triển ngành năng lượng sạch.</a
        >
      </div>
      <div style="height: 83px">
        <a href="#popup-article4" class="open-popup1">
          Solar moment tiên phong sử dụng năng lượng sạch trong xu thế phát
          triển bền vững</a
        >
      </div>
    </div>
  </div>
  <div id="popup-article1" class="popup">
    <div class="popup__container">
      <a href="#" class="popup__close">
        <span class="screen-reader">close</span>
      </a>
      <div class="popup__content">
        <h1 class="popup__title r-title">
          Sun sound – Sản phẩm đầu tiên tích hợp loa, sạc, màn hình led trong
          một sản phẩm công nghệ sử dụng năng lượng mặt trời.
        </h1>
        Sử dụng nguồn năng lượng thân thiện với môi trường, đặc biệt là năng
        lượng mặt trời từ lâu đã là xu hướng tại nhiều quốc gia trên thế giới.
        Cùng với xu thế phát triển - sử dụng nguồn năng lượng sạch chính là
        giải pháp để cải thiện môi trường sống của con người tại Việt Nam,
        chúng tôi đặt ra ý tưởng “ SUN SOUND ” về một không gian thoáng đãng
        vừa có nguồn điện để sạc, nghe nhạc vui chơi giải trí cùng bạn bè,
        người thân trong các chuyến du lịch, dã ngoại hay trong các buổi tụ
        tập liên hoan cũng như vừa giảm thiểu chi phí điện và tận dụng những
        năng lượng có sẵn. Bên cạnh đó, thúc đẩy ý thức sử dụng nguồn năng
        lượng sạch, đặc biệt là năng lượng mặt trời tại Việt Nam. Nguồn gốc
        của Sun sound Chất lượng cuộc sống của người dân đang ngày được cải
        thiện và nâng cao, nhu cầu giải trí của mọi người cũng ngày càng nhiều
        đặc biệt hiện nay theo nghiên cứu (có thể là khảo sát của nhóm), tham
        gia hoạt động cộng đồng, trải nghiệm gần gũi thiên nhiên là xu hướng
        mạnh mẽ của các gia đình hiện đại vì thế với sản phẩm công nghệ “SUN
        SOUND” tích hợp các công năng vừa làm loa và sạc dự phòng cùng ưu điểm
        không bị phụ thuộc vào nguồn điện rất phù hợp với xu hướng phát triển
        của xã hội. Ngoài ra, với dải đèn led có tính trang trí cực kỳ độc
        đáo, phù hợp cho giới trẻ năng động. Sản phẩm của chúng tôi - SUN
        SOUND hướng vào vào trải nghiệm nghe nhạc và các tiện ích di động. Sản
        phẩm là sự kết hợp hoàn mỹ giữa phong cách và chất lượng âm thanh cùng
        tiện ích di động. Sản phẩm với kích thước 20x20x20cm không khó để đặt
        vào balo mang theo trong những chuyến đi chơi. m lượng của sản phẩm
        này khá lớn, đủ để phát trong những không gian trung bình ở ngoài
        trời. Pin sạc ngoài việc dùng để chơi loa không cần điện thì đôi khi
        smartphone của bạn hết pin cũng có thể dùng SUN SOUND như là một cục
        sạc dự phòng để sạc cho smartphone, tablet hoặc các thiết bị di động
        cần sạc. Điểm khác biệt của Sun sound với các sản phẩm công nghệ có
        tính năng riêng biệt trên thị trường Hiện nay, đã xuất hiện bộ sạc sử
        dụng năng lượng mặt trời của hãng Choetech hay loa sử dụng năng lượng
        mặt trời. Người dùng có thể dễ dàng tìm thấy một bộ sạc loại này trên
        chợ trực tuyến Amazon, sản phẩm “Solar Outdoor Speakers” trên trang
        mua bán trực tuyến của Walmart. Tuy nhiên ở Việt Nam, các sản phẩm với
        từng chức năng này đã xuất hiện trên các sàn thương mại điện tử ở Việt
        Nam nhưng với chất lượng chưa được đảm bảo. Bên cạnh đó, tại đây chưa
        xuất hiện sản phẩm nào sử dụng năng lượng mặt trời đồng thời tích hợp
        cả hai chức năng nghe nhạc và sạc dự phòng led cùng màn hình LED cho
        hình ảnh sống động sắc nét. Về mặt kĩ thuật, loa có một hệ thống đầy
        cảm hứng với công nghệ tối ưu hóa âm thanh tuyệt vời của Solar moment.
        Nó không chỉ cung cấp âm thanh hoàn hảo mà loa còn như một pin dự
        phòng di động đủ mạnh để sạc cho iPad, máy tính bảng hoặc điện thoại
        thông minh. Ngoài ra, Loa Sun sound tích hợp đèn led đổi màu theo giai
        điệu bài hát. Thiết bị như một hộp đêm, vũ trường di động. Khi để
        trong bóng tối, Sun sound có gắn dải đèn led sẽ như một vũ trường thu
        nhỏ. Những dải đèn led nhấp nháy theo nhịp âm bass chắc mạnh dồn dập,
        khiến con tim chúng ta như muốn văng ra ngoài lồng ngực. Không chỉ
        vậy, nhiều nghiên cứu chỉ ra rằng, ánh đèn màu vàng,đỏ được phát ra từ
        bóng đèn led có tác dụng trẻ hóa làn da, giúp cho da tự tổng hợp
        collagen, làm nhanh liền sẹo, và các vết thương hở. Solar moment tạo
        nên Sun sound một kiệt tác công nghệ sử dụng năng lượng mặt trời mà
        mọi người vừa có thể nghe nhạc, sạc các thiết bị công nghệ lại vừa có
        thể làm đẹp da nhất là với chị em, phụ nữ. Điều ý nghĩa của “Sun
        sound” Sun Sound thể hiện rõ nhất sản phẩm chúng tôi là một sản phẩm
        loa. Nhưng Sun Sound không chỉ là sản phẩm loa thông thường mà nguồn
        năng lượng đầu vào là điện năng từ năng lượng mặt trời. Sun sound - âm
        thanh đến từ mặt trời mong muốn góp phần chung tay phát triển và phổ
        biến ngành năng lượng tái tạo tại Việt Nam và hướng tới xây dựng một
        hệ sinh thái hiện đại, thông minh, thân thiện với môi trường. Mang
        trên mình sứ mệnh lớn lao Sun sound nói riêng và Công ty Solar moment
        nói chung sẽ không ngừng đổi mới, sáng tạo, tiên phong sản xuất, cung
        cấp các sản phẩm và dịch vụ chất lượng, thân thiện với môi trường vì
        cuộc sống tốt đẹp hơn cho cộng đồng và sự phát triển bền vững của xã
        hội.
      </div>
    </div>
  </div>
  <div id="popup-article2" class="popup">
    <div class="popup__container">
      <a href="#" class="popup__close">
        <span class="screen-reader">close</span>
      </a>
      <div class="popup__content">
        <h1 class="popup__title r-title">
          Phát triển kinh tế tuần hoàn – Xu hướng tất yếu cho mục tiêu tăng
          trưởng xanh
        </h1>
        Việc phát triển mô hình kinh tế tuần hoàn được nhận định là lựa chọn
        tất yếu, phù hợp với xu hướng, yêu cầu tạo đột phá trong phục hồi kinh
        tế và thực hiện các Mục tiêu Phát triển Bền vững (SDGs), góp phần hiện
        thực hóa chiến lược quốc gia về tăng trưởng xanh. Kinh tế tuần hoàn –
        Nền tảng để Việt Nam phát triển bền vững Xây dựng nhà máy tái chế tấm
        pin mặt trời tại Việt Nam: Đâu là thời điểm chín muồi? Lợi ích khi
        doanh nghiệp hướng tới sự phát triển bền vững là gì? Kinh tế tuần hoàn
        là gì Thuật ngữ kinh tế tuần hoàn chính thức được sử dụng từ năm 1990
        bởi David W. Pearce và R. Kerry Turner trong cuốn Kinh tế Tài nguyên
        và Môi trường. Thuật ngữ này được dùng để chỉ mô hình kinh tế mới dựa
        trên nguyên lý cơ bản “mọi thứ đều là đầu vào đối với thứ khác”, không
        giống cách nhìn của nền kinh tế tuyến tính truyền thống. Khái niệm
        kinh tế tuần hoàn sau đó được nhiều bên đưa ra do cách tiếp cận từ các
        góc độ nghiên cứu và ứng dụng có tính đặc thù riêng. Chẳng hạn như,
        theo Liên minh châu u (EU), “Kinh tế tuần hoàn là nền kinh tế mà giá
        trị của sản phẩm, nguyên vật liệu, tài nguyên được duy trì lâu nhất có
        thể, đồng thời giảm thiểu việc phát thải”. Trong khi đó, thuật ngữ này
        được Tổ chức Phát triển Công nghiệp Liên Hợp quốc (UNIDO) định nghĩa
        là một chu trình sản xuất khép kín, các chất thải được quay trở lại,
        trở thành nguyên liệu cho sản xuất, từ đó giảm mọi tác động tiêu cực
        đến môi trường, hệ sinh thái và sức khỏe con người. Được nhiều quốc
        gia và tổ chức quốc tế thừa nhận rộng rãi hơn cả là khái niệm được đưa
        ra vào năm 2012, bởi Ellen MacArthur Foundation. Theo đó “nền kinh tế
        tuần hoàn là một hệ thống có tính khôi phục và tái tạo thông qua các
        kế hoạch và thiết kế chủ động. Nó thay thế khái niệm “kết thúc vòng
        đời” của vật liệu bằng khái niệm khôi phục, chuyển dịch theo hướng sử
        dụng năng lượng tái tạo, không dùng các hóa chất độc hại gây tổn hại
        tới việc tái sử dụng và hướng tới giảm thiểu chất thải thông qua việc
        thiết kế vật liệu, sản phẩm, hệ thống kỹ thuật và cả các mô hình kinh
        doanh trong phạm vi của hệ thống đó”. Nguyên tắc và một số mô hình
        kinh tế tuần hoàn Theo Ellen MacArthur Foundation, ba nguyên tắc chính
        của một nền kinh tế tuần hoàn bao gồm: Giảm, loại bỏ thải và ô nhiễm;
        Kéo dài thời hạn sử dụng của sản phẩm và nguyên vật liệu; Tái tạo hệ
        thống tự nhiên. Theo Điều 138, Nghị định số 08/2022/NĐ-CP Quy định chi
        tiết một số điều của Luật Bảo vệ môi trường, tiêu chí chung về kinh tế
        tuần hoàn bao gồm: – Giảm khai thác, sử dụng tài nguyên không tái tạo,
        tài nguyên nước; tăng hiệu quả sử dụng tài nguyên, nguyên liệu thô,
        vật liệu; tiết kiệm năng lượng; – Kéo dài thời gian sử dụng vật liệu,
        thiết bị, sản phẩm, hàng hóa, các linh kiện, cấu kiện; – Hạn chế chất
        thải phát sinh và giảm thiểu tác động xấu đến môi trường bao gồm: giảm
        chất thải rắn, nước thải, khí thải; giảm sử dụng hóa chất độc hại; tái
        chế chất thải, thu hồi năng lượng; giảm sản phẩm sử dụng một lần; mua
        sắm xanh. Hiện nay, có một số mô hình về kinh tế tuần hoàn đã được
        triển khai như mô hình 3R với cách tiếp cận đơn giản hay mô hình 6R+
        với cách tiếp cận tổng thể hơn. Mô hình 3R tập trung vào 3 hoạt động
        gồm: Reduce – Giảm sử dụng hàng hóa và tiêu thụ tài nguyên, Reuse –
        Tái sử dụng sản phẩm, tài nguyên và Recycle – Tái chế, tuần hoàn tài
        nguyên. Kinh-te-tuan-hoan Mô hình kinh tế tuần hoàn với 3R: Reduce,
        Reuse và Recycle Trong khi đó, mô hình 6R+ bao gồm: – Rethink and
        Redesign: Nhà sản xuất thay đổi tư duy, cách tiếp cận khi sản xuất bất
        kỳ sản phẩm hàng hóa mới nào về trách nhiệm thu hồi, tái sử dụng, tái
        chế…; đồng thời cải tiến, thay đổi thiết kế các sản phẩm hàng hóa đang
        sản xuất. – Refuse: Người tiêu dùng ủng hộ các sản phẩm xanh, từ chối
        sử dụng các sản không thân thiện với môi trường, tiêu tốn nhiều tài
        nguyên, năng lượng trong quá trình sản xuất/sử dụng, không có khả năng
        tái chế… – Reduce: Giảm việc tiêu dùng quá mức dẫn đến tiêu tốn, cạn
        kiệt tài nguyên thiên nhiên, thông qua các mô hình dùng chung, chia
        sẻ, lưu trữ… – Reuse: Sử dụng sản phẩm nhiều lần và có thể tận dụng
        cho nhiều mục đích khác nhau thay vì chỉ sử dụng một lần – Remain và
        Repair: Nhà sản xuất đảm bảo hình thành và cung cấp các dịch vụ về bảo
        hành, bảo dưỡng, thay thế linh kiện, sửa chữa… để kéo dài tuổi thọ,
        vòng đời của sản phẩm – Recycle: Phục hồi tài nguyên bao gồm thu gom,
        phân loại, xử lý sản phẩm thải bỏ, tái chế… Mô hình kinh tế tuần hoàn
        – Xu hướng tất yếu Trong bối cảnh các nguồn tài nguyên ngày càng cạn
        kiệt, tốc độ công nghiệp hóa và đô thị hóa nhanh dẫn đến gia tăng phát
        thải khí nhà kính, suy giảm chất lượng môi trường, biến đổi khí hậu
        gây hậu quả ngày càng nghiêm trọng, mô hình phát triển kinh tế tuyến
        tính đã không còn phù hợp. Kinh tế tuần hoàn trở thành nhu cầu cấp
        bách và xu thế tất yếu. Phát triển mô hình kinh tế tuần hoàn quan
        trọng vì nó giúp thúc đẩy phát triển bền vững, đồng thời góp phần thực
        hiện các cam kết về giảm phát thải, trung hòa carbon, mang lại nhiều
        lợi ích cho quốc gia và doanh nghiệp. Tại Việt Nam, từ những năm 1980
        đã có một số mô hình kinh tế theo hướng kinh tế tuần hoàn, như mô hình
        vườn – ao – chuồng (VAC). Có thể coi đây gần như là một mô hình kinh
        tế tuần hoàn trong nông nghiệp dù chưa hoàn thiện và áp dụng chủ yếu ở
        quy mô nhỏ. Nó cũng bước đầu cho thấy hiệu quả, lợi ích của kinh tế
        tuần hoàn. Những năm gần đây, nhiều sáng kiến quản trị doanh nghiệp
        bền vững và thúc đẩy kinh tế tuần hoàn đã được đề xuất và từng bước
        triển khai. Ngày càng nhiều doanh nghiệp chú ý, đầu tư cải tiến để
        từng bước phát triển mô hình kinh tế tuần hoàn, áp dụng các giải pháp
        xanh hóa sản xuất như sử dụng nguyên liệu bền vững, tận dụng năng
        lượng sạch, thực hành tiết kiệm năng lượng, xây dựng quy trình thu
        gom, tái chế… Mới đây nhất, tháng 6/2022, Thủ tướng Chính phủ đã ban
        hành Quyết định số 687/QĐ-TTg Phê duyệt Đề án Phát triển kinh tế tuần
        hoàn ở Việt Nam. Một số ý thuộc các mục tiêu cụ thể được nêu ra trong
        Quyết định này: Góp phần cụ thể hóa mục tiêu giảm cường độ phát thải
        KNK trên GDP ít nhất 15% vào năm 2030 so với năm 2014, hướng tới mục
        tiêu phát thải ròng về 0 vào năm 2025 Đến năm 2025, các dự án kinh tế
        tuần hoàn bắt đầu đi vào thực hiện và phát huy hiệu quả kinh tế, xã
        hội, công nghệ và môi trường; giảm tiêu hao năng lượng, tăng tỷ trọng
        năng lượng tái tạo trên tổng cung cấp năng lượng sơ cấp… Đến năm 2030,
        các dự án kinh tế tuần hoàn trở thành một động lực chủ yếu trong giảm
        tiêu hao năng lượng sơ cấp, có năng lực tự chủ phần lớn hoặc toàn bộ
        nhu cầu năng lượng dựa trên năng lượng tái tạo… Đến năm 2025, tái sử
        dụng, tái chế, xử lý 85% lượng chất thải nhựa phát sinh; giảm thiểu
        50% rác thải nhựa trên biển và đại dương… Đến năm 2030, tỷ lệ chất
        thải rắn sinh hoạt đô thị được thu gom, xử lý đảm bảo tiêu chuẩn, quy
        chuẩn thông qua các mô hình kinh tế tuần hoàn đạt 50%; 100% rác thải
        hữu cơ ở đô thị và 70% rác thải hữu cơ ở nông thôn được tái chế… Bạn
        có thể xem toàn văn Quyết định số 687/QĐ-TTg Phê duyệt Đề án Phát
        triển kinh tế tuần hoàn ở Việt Nam (ban hành ngày 07/6/2022) tại đây.
      </div>
    </div>
  </div>
  <div id="popup-article3" class="popup">
    <div class="popup__container">
      <a href="#" class="popup__close">
        <span class="screen-reader"
          >An ninh năng lượng và chống biến đổi khí hậu - Xu hướng quan tâm
          của quốc gia dẫn đầu thế giới.</span
        >
      </a>
      <div class="popup__content">
        <h1 class="popup__title r-title">
          An ninh năng lượng và chống biến đổi khí hậu - Xu hướng quan tâm của
          quốc gia dẫn đầu thế giới.
        </h1>
        Mỹ vừa ban hành Đạo luật Giảm lạm phát (Inflation Reduction Act – IRA)
        liên quan đến khí hậu, thuế và chăm sóc sức khỏe. Theo đạo luật mới
        này, 369 tỷ USD sẽ được sử dụng cho các chương trình an ninh năng
        lượng và chống biến đổi khí hậu, mục tiêu giảm 40% lượng khí thải nhà
        kính vào năm 2030. Định giá carbon: Những con số đáng chú ý 226 tỷ USD
        đầu tư cho năng lượng tái tạo trong nửa đầu năm 2022 Chi tiêu cho năng
        lượng xanh dự kiến đạt gần 650 tỷ USD trong năm 2022 Đạo luật Giảm lạm
        phát được Tổng thống Mỹ Joe Biden ký ban hành ngày 16/8, sau khi lần
        lượt được Thượng viện và Hạ viện Mỹ thông qua vào các ngày 07/8 và
        12/8. Theo Đạo luật này, Mỹ sẽ dành khoản đầu tư có tổng trị giá 437
        tỷ USD cho lĩnh vực thuế, y tế và khí hậu. Trong đó, phần lớn trong
        gói chi tiêu lớn này dành cho các chương trình an ninh năng lượng và
        chống biến đổi khí hậu. Với 369 tỷ USD, đây được xem là khoản đầu tư
        lớn nhất từ trước tới nay của Mỹ vào vấn đề khí hậu. Khoản tài trợ này
        được kỳ vọng sẽ giúp Mỹ giảm sử dụng nhiên liệu hóa thạch và thúc đẩy
        nền kinh tế hướng tới nhiều nguồn năng lượng thay thế hơn. Đạo luật
        mới đã đưa ra một loạt các biện pháp khuyến khích tài chính cho năng
        lượng tái tạo, năng lượng sạch. Chẳng hạn như, Mỹ sẽ dành hơn 60 tỷ
        USD vào chuỗi cung ứng năng lượng sạch cũng như sản xuất phương tiện
        sạch. Trong đó bao gồm một khoản tín dụng thuế sản xuất 30 tỷ USD nhằm
        thúc đẩy quá trình sản xuất các tấm pin mặt trời, tua-bin gió, pin và
        chế biến khoáng chất cần thiết; một khoản tín dụng thuế đầu tư trị giá
        10 tỷ USD để xây dựng các cơ sở sản xuất công nghệ sạch, như các cơ sở
        sản xuất xe điện, tua-bin gió và tấm pin mặt trời. Đạo luật này cũng
        đưa ra một khoản vay lên tới 20 tỷ USD nhằm xây dựng các cơ sở sản
        xuất xe sạch mới trên khắp quốc gia. Đạo luật cũng sẽ dành các khoản
        tín dụng thuế cho nguồn điện sạch, lưu trữ năng lượng và khoảng 30 tỷ
        USD cho các chương trình tài trợ, cho vay dành cho các bang và các
        công ty điện lực để đẩy nhanh quá trình chuyển đổi năng lượng. Bên
        cạnh đó, sẽ có một chương trình trị giá 27 tỷ USD nhằm hỗ trợ triển
        khai các công nghệ giảm phát thải, đặc biệt là ở các cộng đồng có hoàn
        cảnh khó khăn. Đạo luật cũng đưa ra các khoản tín dụng và trợ cấp thuế
        cho nhiên liệu sạch và xe thương mại sạch để giảm lượng khí thải từ
        ngành giao thông vận tải. Những người mua xe điện mới đến năm 2032
        được nhận khoản tín dụng thuế lên tới 7.500 USD, còn nếu mua xe điện
        đã qua sử dụng có thể nhận khoản tín dụng tối đa 4.000 USD. Để thúc
        đẩy khử cacbon trong nền kinh tế, Đạo luật Giảm lạm phát còn đưa ra
        các khoản tài trợ và tín dụng thuế nhằm giảm phát thải từ các quy
        trình sản xuất công nghiệp, như chương trình gần 6 tỷ USD để giảm
        lượng khí thải từ các nhà máy hóa chất, thép và xi măng; chương trình
        giảm phát thải mêtan để giảm rò rỉ từ quá trình sản xuất và phân phối
        khí tự nhiên… Đạo luật mới của Chính phủ Mỹ còn dành gói 60 tỷ USD cho
        các chương trình bảo vệ công bằng môi trường, thúc đẩy đầu tư vào các
        cộng đồng có hoàn cảnh khó khăn, cùng nhiều khoản đầu tư dành cho nông
        nghiệp thông minh, bảo tồn rừng, bảo tồn và phục hồi các sinh cảnh ven
        biển… Với việc đầu tư gần 370 tỷ USD vào năng lượng tái tạo và các
        chương trình bảo vệ môi trường, đạo luật dự kiến sẽ giúp giảm 40%
        lượng khí thải gây hiệu ứng nhà kính của Mỹ vào năm 2030. Bên cạnh
        lĩnh vực năng lượng và biến đổi khí hậu, Đạo luật Giảm Lạm phát còn
        hướng đến lĩnh vực chăm sóc sức khỏe với gói đầu tư 64 tỷ USD. Đạo
        luật mới cho phép chương trình Medicare thương lượng giảm giá thuốc kê
        đơn và kéo dài thời gian trợ cấp theo Đạo luật Chăm sóc Sức khỏe Giá
        phải chăng (ACA) thêm 3 năm, đến năm 2025. Dự luật cũng sẽ giới hạn
        chi phí điều trị insulin cho người thụ hưởng Medicare ở mức 35
        USD/tháng, đồng thời yêu cầu các công ty dược phẩm cung cấp các khoản
        giảm giá cho Medicare nếu họ tăng giá thuốc nhanh hơn tốc độ lạm phát.
        Đạo luật Giảm lạm phát cũng dành khoảng 4 tỷ USD để giúp các bang miền
        Tây như California và Arizona đối phó với những đợt hạn hán kỷ lục và
        góp phần ngăn chặn các vụ cháy rừng lớn. Đạo luật Giảm lạm phát dự
        kiến sẽ tạo ra nguồn thu 737 tỷ USD cho Chính phủ Mỹ trong 10 năm tới,
        phần lớn đến từ việc cải cách giá thuốc cho những người tham gia
        chương trình bảo hiểm Medicare (265 tỷ USD) và chính sách áp thuế suất
        tối thiểu 15% cho các công ty có doanh thu trên 1 tỷ USD/năm (222 tỷ
        USD).
      </div>
    </div>
  </div>

    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
